@font-face {
  font-family: 'Syncopate Bold';
  src: url('../fonts/Syncopate-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.title {
  font-family: 'Syncopate Bold', sans-serif;
  font-size: 52px;
  font-weight: 500;
  margin: 10px 0 0;
  text-align: left;
  width: 100%;
  line-height: 1;
}

.sub-title {
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
  font-weight: 500;
  margin: 10px 0 30px;
  text-align: left;
  width: 100%;
  line-height: 1;
}

.intro {
  font-size: 18px;
  font-weight: 400;
  padding: 0 5px;
  margin: 10px 0 0;
  text-align: left;
  width: 100%;
}

.ver {
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 50px;
}

.h-400p {
  min-height: 400px !important;
  height: 400px !important;
}

.grid-bg {
  background: conic-gradient(from 90deg at 1px 1px,#0d47a1 90deg,#ffffff50 0) 0 0/22px 20px;
}